<!DOCTYPE html>
<html lang="en" ng-app="signup">
<head>
	<title>Create Team</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}	
        <link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- CSS Files -->
        <link rel="stylesheet" href="{% static 'dashboard/assets/css/material-dashboard.css' %}">
        <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
</head>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
	
<div class="wrapper">
    <div class="wrapper ">
            <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
                <!--
                    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

                    Tip 2: you can also add an image using data-image tag
                -->
                <div class="logo"><a class="simple-text logo-normal">
                        Psu Plays
                    </a></div>
                    <div class="sidebar-wrapper">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/student/team/">
                                    <p>Teams</p>
                                </a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="/student/team/creatTeam/">
                                    <p>Create Team</p>
                                </a>
                            </li>
                        </ul>
                    </div>
            </div>
                    <div class="main-panel">

     <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <a class="navbar-brand" href="javascript:;">Create Team</a>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end">
                            <ul class="navbar-nav">
                                <a class="nav-link" href="/student/dashboard" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">home</i>
                                </a>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">person</i>
                                        <p class="d-lg-none d-md-block">
                                        Account
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                        <a class="dropdown-item" href="#">Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#" ng-click="logout()">Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
    

	<div class="content">
        <div class="container-fluid" ng-controller="TeamController as teamCtrl">
          <div class="row" ng-controller="UserController as userCtrl">
            <div class="col-lg-6 col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Create a Team</h4>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Sport</label>
                          <select class="form-control" data-style="btn btn-link" ng-init="teamCtrl.getAllSports()" ng-model="teamCtrl.formInfo.sport" ng-options="sport.name for sport in teamCtrl.sports">
                        </select>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Team Name</label>
                          <input type="text" name="name" class="form-control" ng-model="teamCtrl.formInfo.name">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Description (optional)</label>
                          <div class="form-group">
                            <textarea class="form-control" rows="5" type="text" name="description" ng-model="teamCtrl.formInfo.description"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="accepted" class="form-control" ng-model="teamCtrl.formInfo.accepted" ng-init="teamCtrl.formInfo.accepted ='?'">
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" ng-click="teamCtrl.create()">Create Team</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
               <video width="640" height="400" controls="controls" src="http://73.175.158.34:1935/live/android_test/playlist.m3u8"></video>
        </div>
        </div>
      </div>
	    </div>
    </div>
<!--   Core JS Files   -->
    <script src="{% static 'login/js/UserController.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/core/jquery.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/core/popper.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/core/bootstrap-material-design.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/moment.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/sweetalert2.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/jquery.validate.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/jquery.bootstrap-wizard.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'dashcoard/assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/fullcalendar.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/jquery-jvectormap.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/nouislider.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
        <script src="{% static 'dashboard/assets/js/plugins/arrive.min.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
        <script src="{% static 'dashboard/assets/js/plugins/chartist.min.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/plugins/bootstrap-notify.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/material-dashboard.js?v=2.1.2' %}" type="text/javascript"></script>
        <script src="{% static 'dashboard/assets/demo/demo.js' %}"></script>
        <script src="{% static 'login/js/TeamController.js' %}"></script>
        <script src="{% static 'dashboard/assets/js/manage_admin.js' %}"> </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script> 
	    <script src="{% static 'login/js/auth.js' %}"></script>
        <script src="{% static 'login/js/authInterceptor.js' %}"></script>
        <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>        
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="{% static 'login/js/session.js' %}"></script>
        <script src="{% static 'login/js/app.js' %}"></script>
		<script src="{% static 'login/js/globalFunctions.js' %}"></script>
    </div>
    </body>
    </head>
</html>
