<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.psuplays">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/psu_logo_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Student_sport"></activity>
        <activity android:name=".UpdateLiveScore" />
        <activity
            android:name=".livevideouploader"
            android:screenOrientation="userLandscape" />
        <activity android:name=".admin_sport" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings" />
        <activity
            android:name=".Admin_Dashboard"
            android:label="@string/title_activity_admin__dasboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student_Dashboard"
            android:label="@string/title_activity_student__dasboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".medical_info"
            android:label="@string/medical_info" />
        <activity
            android:name=".forgotPassword"
            android:label="@string/fgt_psswd" />
        <activity
            android:name=".signup"
            android:label="@string/sign_up" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>